@import url(header.css);
@import url(footer.css);
@import url(../../style.css);

/**** MAIN ****/
main {
  min-height: 70vh;
}
main {
  margin: 50px 0;
}
@media screen and (max-width: 700px) {
  main {
    margin-top: 10vh;
  }
}
/* ********* */

/*** Produtos ***/
.titulos-produtos {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  margin: 20px 0;
  color: #ffffff;
  user-select: none; /*impede que o usuario selecione o texto*/
  -webkit-user-select: none; /* Para Safari */
  -moz-user-select: none; /* Para Firefox */
}

.titulos-produtos h1 {
  font-size: 2rem;
  width: 400px;
  text-align: end;
  color: #ffffff;
  padding: 1rem;
  background-color: #000000;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

section.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 2em 10vh;
}

/* Imagem dos produtos */
.produto-image {
  width: 80%;
  height: auto;
  min-height: 200px;
  min-width: 80%;
  padding: 10px;
}
.produto img {
  border-radius: 30px;
}

/* Box dos produtos */
.produto {
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.425);
  width: 500px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  height: auto;
  min-height: 800px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  word-wrap: break-word;
}

.produto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.produto h2 {
  font-size: 1.5em;
  color: #202020;
}

.produto h3 {
  margin: 15px 0 10px;
  font-size: 1.2em;
}

.produto-desc {
  font-size: 1em;
  color: #424242;
  padding: 15px;
}
.full-desc {
  font-size: 1em;
  color: #424242;
  padding: 15px;
}

.produtos span a {
  font-size: 0.8rem;
  padding: 15px;
  color: #2e2e2e;
}
/* End Box dos produtos */

/* Descrição, select e botão dos produtos */
.produto-info {
  width: auto;
}

/* Icone dentro do botão */
.iconProduto {
  color: #ffffff;
  padding: 0 1rem;
  font-size: 18px;
}

/** botão select de produtos **/
.produto-info select {
  background-color: #ffffff;
  color: var(--secondary-text-color);
  width: 50px;
  margin: 10px;
  text-align: center;
  height: auto;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.produto-info span {
  font-size: 1rem;
}
/* desbugando linha do select */
.produto-info .select-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* desbugando linha do select */

/* Botões dos produtos*/

.produto-info button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  width: 45%;
  min-width: 180px;
  background-color: #161616;
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-produto:hover,
.produto-info .veja-mais:hover {
  background-color: #0699d7;
  transform: scale(1.05);
}

.btn-produto:active,
.produto-info .veja-mais:active {
  background-color: #5a7bf1;
  transform: scale(0.98);
}
/* Botão Ver Mais */

.produto-info .veja-mais {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
  width: 25%;
  min-width: 50px;
  background-color: #4d4d4d;
  color: var(--primary-color);
  border: none;
  border-radius: 35px;
  padding: 10px;
  font-size: 0.9em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

/*** Media queries dos produtos ***/

@media screen and (max-width: 1300px) {
  section.produtos {
    padding: 10px 0;
    margin: 10px 0;
  }
}

@media screen and (max-width: 900px) {
  section.produtos {
    padding: 10px;
    margin: 10px;
  }

  .produtos {
    padding: 0;
    margin: 0;
  }

  .titulos-produtos h1 {
    width: 50vw;
    font-size: 4vw;
  }
}
/* config mobile */
@media screen and (max-width: 700px) {
  .produto {
    width: 100%;
    padding: 10px;
  }

  .titulos-produtos {
    margin-top: 15vh;
  }
}
/* end produtos */

/**** Footer ****/
footer {
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: var(--primary-text-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  min-height: 100px;
}

.footer-section {
  width: calc(25% - 20px);
  text-align: center;
}

.footer-section h4 {
  margin: 2vh 0;
  font-size: 1rem;
  color: var(--primary-text-color);
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  font-size: 0.8rem;
  color: #070707;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: var(--hover-color);
}
/* Media queries footer */
@media screen and (max-width: 900px) {
  .footer-section {
    width: calc(50% - 20px);
  }
}

/* config mobile */
@media screen and (max-width: 700px) {
  .footer-section {
    width: 100%;
  }
}

/**** Fim footer ****/

/**** Filtro de produtos ****/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 40px;
  height: auto;
}
.filtroOpcao {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 10px 0;
  height: auto;
  width: 90vw;
}

.container h1 {
  display: flex;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: var(--secondary-text-color);
}

#filtrarOpcao {
  max-width: 450px;
  padding: 10px;
  border: 1px solid #c0bfbf;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
  transition: border-color 0.3s;
}

#filtrarOpcao:focus {
  outline: none;
  border-color: #007bff; /* Destaque ao focar */
}

#filtrarValor {
  display: flex;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filtroOpcao button:hover {
  background-color: rgb(13, 1, 255);
}

.filtroOpcao label {
  height: 20px;
  font-size: 16px;
  margin: 5px 5px;
  color: var(--secondary-text-color);
}

.filtroOpcao input[type="number"] {
  padding: 10px;
  flex: 1; /* Permite que o campo numérico ocupe o espaço disponível */
  width: 10vw;
  min-width: 150px; /* Define o tamanho minimo do campo numérico */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

input[type="number"]:focus {
  border-color: #007bff;
  outline: none;
}

.filtroOpcao button {
  padding: 10px 15px;
  margin: 0 10px;
  font-size: 2vh;
  color: var(--primary-color);
  background-color: #070707;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filtroOpcao button:hover {
  background-color: #0699d7;
}

/* Responsividade */
@media (max-width: 1080px) {
  .filtroOpcao {
    justify-content: center;
    flex-direction: column; /* Coloca os itens em coluna */
    align-items: center; /* Centraliza os itens na tela */
  }
  .filtroOpcao h1 {
    width: 100%;
    text-align: center;
  }
  #filtrarValor {
    flex-direction: column;
  }
  #filtrarOpcao,
  input[type="number"] {
    flex: 1; /* Permite que os campos se ajustem ao espaço */
    min-width: 200px; /* Largura mínima para melhor usabilidade */
    width: 60%; /* Largura de 60% da tela */
    margin: 5px 0; /* Margem entre os campos */
  }
  .filtroOpcao select {
    width: 20px;
    background-color: red;
  }
  .filtroOpcao button {
    width: 50%; /* Largura de 50% da tela */
    font-size: 1rem;
  }
}

/**** Botão de paginas *****/

.paginas {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.paginas button {
  background-color: #161616;
  padding: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginas button:hover {
  background-color: #0699d7;
}
/* Estilo para o botão da página atual */
.paginas button.pagina-atual {
  background-color: #0699d7;
}

/* Estilo para botões desabilitados (página atual ou sem opção) */
#paginas button:disabled {
  background-color: #0699d7;
  cursor: not-allowed;
}
