@import url(header.css);
@import url(footer.css);
@import url(../../style.css);
/* Main */
main {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

/* Checkout Summary */
.checkout-summary {
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

h2,
h3 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #161616;
}

.checkout-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.checkout-table th,
.checkout-table td {
  text-align: center;
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
  align-content: center;
}

.checkout-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

/* Items do checkout */
.checkout-table h4 {
  font-size: 18px;
  font-weight: bold;
}

#checkout-items {
  width: 100%;
  margin: 10px 0;
}
.checkout-table span {
  display: none;
}
/* Preço final */
.checkout-table td:last-child,
.checkout-summary-details #total {
  color: red;
  font-weight: 500;
}

.checkout-summary-details {
  text-align: right;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}

/* Info Payment */
.info-payment {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.cart-img {
  border-radius: 5px;
}

/* Usuário e Formulário */
.usuario,
.form-container {
  background-color: var(--primary-color);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
}

.usuario p {
  margin: 0.5rem 0;
}

/* Formulários */
input[type="text"],
input[type="number"],
select {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #007bff;
  outline: none;
}

button {
  background-color: #007bff;
  color: var(--primary-color);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/* Tabela de Frete */
#calcular-frete {
  background-color: #27ae60;
  margin-top: 0.5rem;
}

#calcular-frete:hover {
  background-color: #218838;
}

/* Footer */
footer {
  background-color: var(--secondary-text-color);
  color: var(--primary-color);
  padding: 2rem 0;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

.footer-section {
  flex: 1 1 200px;
  margin: 1rem;
  text-align: left;
}

.footer-section h4 {
  margin-bottom: 0.5rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin-bottom: 0.5rem;
}

.footer-section a {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section a:hover {
  color: #007bff;
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 0.9rem;
}

/* Responsividade */
@media (max-width: 768px) {
  main {
    padding: 1rem;
  }

  .info-payment {
    flex-direction: column;
  }

  .usuario,
  .form-container {
    flex: 1 1 100%; /* Ocupa 100% em telas menores */
    margin-bottom: 1rem;
  }
}

@media (max-width: 700px) {
  .nav-menu {
    position: relative;
    z-index: 0;
    height: 100%;
  }

  .checkout-table span {
    display: flex;
    padding: 10px;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 16px;
  }

  .checkout-table {
    display: flex;
    overflow-x: auto;
  }

  .checkout-table p {
    padding: 10px;
  }
  .checkout-table h4 {
    padding: 10px;
  }

  main {
    margin: 10px auto;
  }

  .checkout-table thead {
    display: none; /* Oculta o cabeçalho da tabela */
  }

  .checkout-table tr {
    display: block;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  #checkout-items {
    width: 100%;
  }

  .checkout-table td {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
    font-size: 14px;

    border-bottom: 1px solid #ddd;
  }

  .checkout-table td:last-child {
    border-bottom: 0;
    font-size: 18px;
  }

  .checkout-table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 12px;
    color: #555;
  }

  button {
    width: 100%; /* Botões ocupando 100% da largura */
    padding: 12px;
    font-size: 16px;
    margin-top: 5px;
  }
}
