@import url(header.css);
@import url(footer.css);
@import url(../../style.css);

main {
  background-color: var(--primary-color);
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
main.loaded {
  opacity: 1;
}
/* Main */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  border-radius: 5px;
  width: auto;
  margin: 0 10vh;
}

/* Localização */
.location {
  margin-bottom: 30px;
}

.h1-local,
.h2-local {
  color: #000000;
}

.local-text {
  margin-bottom: 20px;
}

.mapa-google {
  width: 100%;
  display: flex;
  justify-content: center;
}
.mapa-google iframe {
  width: 100%;
  height: 500px;
  border-radius: 15px;
}

.contatos {
  margin-top: 20px;
}

.item-contatos {
  display: flex;
  flex-direction: column;
}

.item-contatos a {
  max-width: 250px;
  color: #000000;
  font-size: 1.2em;
  text-decoration: none;
  margin-bottom: 10px;
}

.item-contatos i {
  margin-right: 10px;
}

/* Chat GPT */
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: auto;
}

h2 {
  font-size: 2em;
  color: #202020;
  margin: 20px 0;
}

.chat-box {
  border: 1px solid #ddd;
  width: 100%;
  max-width: 1200px;
  border-radius: 5px;
  height: 40vh;
  overflow-y: auto;
  padding: 10px;
}

.input-container {
  width: 100%;
  display: inline-flex;
  max-width: 1200px;
  padding: 10px 0;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.input-container button {
  padding: 10px;
  margin: 0 10px;
  border: none;
  background-color: #030303;
  color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: var(--hover-color);
}

/* Responsivo */
@media (max-width: 768px) {
  .main-container {
    margin: 20px;
  }

  .input-container {
    margin: 10px;
  }

  .chat-box {
    margin: 10px;
  }
}
