@import url(../../style.css);

/**** Footer ****/
footer {
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: var(--primary-text-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.footer-section {
  width: calc(25% - 20px);
  text-align: center;
}

.direitos-autorais {
  text-align: center;
  font-size: 0.8rem;
  width: 100%;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

.footer-section h4 {
  margin: 2vh 0;
  font-size: 1rem;
  color: var(--primary-text-color);
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  font-size: 0.8rem;
  color: #070707;
  text-decoration: none;
  transition: color 0.3s;
}
.footer-section ul li a:hover {
  color: var(--hover-color);
}
/* Media queries footer */
@media screen and (max-width: 900px) {
  .footer-section {
    width: calc(50% - 20px);
  }
}

/* config mobile */
@media screen and (max-width: 700px) {
  .footer-section {
    width: 100%;
  }
}

/**** Fim footer ****/
