@import url(header.css);
@import url(footer.css);
@import url(../../style.css);



/* Main */
main {
    padding: 20px;
}

/* Página de Login */
.login {
    max-width: 400px;
    margin: 40px auto;
    padding: 30px;
    background: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.login h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: var(--secondary-text-color);
    text-align: center;
}

.login .form-group {
    margin-bottom: 20px;
}

.login .form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555;
}

.login .form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.login .form-group input:focus {
    border-color: var(--hover-color);
    box-shadow: 0 0 4px rgba(110, 142, 251, 0.5);
    outline: none;
}

.login button {
    width: 100%;
    padding: 12px;
    background: var(--hover-color);
    border: none;
    color: var(--primary-color);
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

.login button:hover {
    background: #5a7bf1;
    transform: translateY(-2px);
}

.login p {
    text-align: center;
    margin-top: 15px;
}

.login p a {
    color: var(--hover-color);
    text-decoration: none;
    font-weight: bold;
}

.login p a:hover {
    text-decoration: underline;
}
