/* Estilos Gerais */
@import url(../../publico/assets/css/header.css);
@import url(../../publico/assets/css/footer.css);
@import url(../../publico/style.css);


main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.registro-formulario {
  max-width: 800px;
  width: 100%;
  padding: 30px;
  background: var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, transform 0.3s;
}

.registro-formulario:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
}

.registro-formulario h2 {
  font-size: 32px;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
  text-align: center;
}

.formulario-grupo {
  margin-bottom: 20px;
}

.registro-formulario label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #666;
}

.registro-formulario input[type="text"],
.registro-formulario input[type="email"],
.registro-formulario input[type="date"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #fafafa;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.registro-formulario input[type="text"]:focus,
.registro-formulario input[type="email"]:focus,
.registro-formulario input[type="date"]:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
}

.registro-formulario button {
  padding: 14px;

  color: var(--primary-color);
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
  margin: 10px;
  transition: background-color 0.3s, transform 0.2s;
}

/* Botões */
#botao2,
#botao1 {
  background-color: #007bff;
}
#botao2:hover,
#botao1:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}
#botao {
  background-color: rgb(194, 60, 60);
}
#botao:hover {
  background-color: rgb(141, 48, 48);
  transform: translateY(-2px);
}
.container-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/* ------------- */
h3 {
  font-size: 26px;
  color: var(--secondary-text-color);
  margin-bottom: 15px;
}

/* Histórico de pedidos */

#historico-pedidos {
  margin-top: 30px;
}

#historico-pedidos ul {
  list-style: none;
  padding: 0;
}

#historico-pedidos li {
  margin-bottom: 15px;
  padding: 15px;
  background: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #ddd;
  transition: background-color 0.3s, transform 0.3s;
}

#historico-pedidos li:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product-item {
  flex: 0 0 45%;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-image {
  width: 100px;
  height: auto;
}

@media (max-width: 600px) {
  .product-item {
    flex: 0 0 100%;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .registro-formulario {
    padding: 20px;
  }

  .registro-formulario h2 {
    font-size: 26px;
  }

  .registro-formulario label {
    font-size: 14px;
  }

  .registro-formulario input[type="text"],
  .registro-formulario input[type="email"],
  .registro-formulario input[type="date"] {
    font-size: 14px;
  }

  .registro-formulario button {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .registro-formulario {
    padding: 15px;
  }

  .registro-formulario h2 {
    font-size: 20px;
  }

  .registro-formulario label {
    font-size: 12px;
  }

  .registro-formulario input[type="text"],
  .registro-formulario input[type="email"],
  .registro-formulario input[type="date"] {
    font-size: 12px;
  }

  .registro-formulario button {
    font-size: 14px;
  }
}
